.vscode/**
.vscode-test/**
examples/**
node_modules/**
.gitignore
.yarnrc
webpack.config.js
yarn.lock
vsc-extension-quickstart.md
.eslintrc.json
**/*.map
**/.git/**
**/.DS_Store
**/*.ts
**/tsconfig.json
**/tslint.json
.editorconfig
.npmrc
src/**
!dist/** 